<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1ValetPOC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6D70454280BA9D3001FDA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6D7046A280BA9D7001FDA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6D70475280BA9D7001FDA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
